*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 100vh;

    background: url(AnimemesLIGHToff.png) no-repeat;
    background-size: cover;
    
}
.bulbDSN {
    margin: 10px;
    padding: 18px;
    width: 25%;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(100, 100, 100);
}
.bulbDSN:hover{
    color: white;
}
h1{
    position: absolute;
    text-align: center;
    color: black;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: move;
    animation-duration: 15s;
}
@keyframes move {
    0% {left: 50%; top: 70%;}
    25% {left: 50%; top: 10%;}
    50% {left: 50%; top: 70%;}
    75% {left: 50%; top: 10%;}
    100% {left: 50%; top:70%;}
}